main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.planificationConsult h2 {
    margin: 20px 0;
    text-align: center;
}

#planifConsult {
    display: flex;
    flex-direction: column;
    margin: 20px 0;
}

#planifConsult label {
    font-weight: 700;
}

#planifConsult input,
#planifConsult select {
    margin-bottom: 10px;
}

#planifConsult .button {
    margin-top: 20px;
}