.rdv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.rdv {
    margin-top: 20px;
    text-align: center;
}

.rdv table {
    margin-top: 20px;
}