.infosAdmin {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.infosAdmin h2 {
    margin-top: 20px;
    text-align: center;
}

.infosAdmin table {
    margin-top: 20px;
}


#deconnexion .button{
  margin-top: 20%;
  margin-bottom: 20px;
  width : 100%;
}
