.infosAdmin {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.infosAdmin h2 {
    margin-bottom: 20px;
    text-align: center;
}

.infosAdmin table {
    margin-top: 20px;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}